.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #ffffff;
    --color-accent: #457b9d;
    --font-color: #000000;
    --font-navbar: #ffffff
}

.theme-dark {
    --color-primary: #0C1821;
    --color-secondary: #243133;
    --color-accent: #324A5F;
    --font-color: #ffffff;
    --font-navbar: #ffffff
}

.theme-pastel {
    --color-primary: #ffe5d9;
    --color-secondary: #00A896;
    --color-accent: #FFB4A2;
    --font-color: #6D6875;
    --font-navbar: #6D6875;
}