.theme-light {
    --color-primary: #f1faee;
    --color-secondary: #fbfbfe;
    --color-accent: #457b9d;
    --font-color: #000000;
    --font-navbar: #ffffff
}

.theme-dark {
    --color-primary: #0C1821;
    --color-secondary: #243133;
    --color-accent: #324A5F;
    --font-color: #ffffff;
    --font-navbar: #ffffff
}

.theme-pastel {
    --color-primary: #edae49;
    --color-secondary: #00A896;
    --color-accent: #f25f5c;
    --font-color: #253237;
    --font-navbar: #fdfffc;
}